<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="scripts.TC01Test"/>
      <class name="scripts.TC02Test"/>
      <class name="scripts.TC03Test"/>
      <class name="scripts.TC04Test"/>
      <class name="scripts.TC05Test"/>
      <class name="scripts.TC06Test"/>
      <class name="scripts.TC07Test"/>
      <class name="scripts.TC08Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
